<div class="container container-padding container-gap">
	{% if heading %}
		<h2 class="text-center">{{ heading }}</h2>
	{% endif %}
	<div class="grid grid-cols-3 gap-16">
		{% for service in services %}
			<div class="flex flex-col gap-6">
				<img src="{{ service.meta('cpt_services_icon').url }}" width="60" height="60">
				<div class="flex flex-col gap-2">
					<h3 class="body-bold">{{ service.title }}</h3>
					<p>{{ service.meta('cpt_services_short_excerpt') }}</p>
				</div>
				<a class="font-bold" href="/services/{{service.slug}}">
					{{ __('Read more →', 'somoscuatro-theme') }}
				</a>
			</div>
		{% endfor %}
	</div>
</div>
