{% extends "section.twig" %}

{% set background = get_color_name(bg_color) %}
{% set foreground = get_foreground_color_name(background) %}

{% block section_content %}
	<div class="text-{{ foreground }}">
		<div class="flex items-center justify-between gap-10 lg:gap-20 flex-col  {{ layout ? 'md:flex-row' : '' }}">
			<div class="flex flex-col gap-4">
				<h1 class="text-4xl font-medium lg:text-6xl font-syne {{ layout ? '' : 'text-center' }}">{{ title }}</h1>
				{% if text %}
					<div class="flex flex-col max-w-lg gap-2 text-xl font-light">{{ text|striptags('<br><p>') }}</div>
				{% endif %}
			</div>
			{% if image %}
				{% include 'image.twig' with {
					class: layout ? 'max-w-sm lg:max-w-2xl' : '',
					image: image,
					allowed_sizes: ['lg', 'xl'],
				} %}
			{% endif %}
		</div>
	</div>
{% endblock %}
