{% extends "section.twig" %}

{% block section_content %}
	<div class="flex flex-col max-w-5xl gap-10 mx-auto md:flex-row md:gap-36">
		<div class="flex flex-col gap-6 text-lg md:gap-8 md:w-1/4">
			<div class="flex flex-col gap-1">
				<p class="font-medium">{{ __( 'Brand', 'somoscuatro-theme' ) }}</p>
				<p>{{ brand }}</p>
			</div>
			<div class="flex flex-col gap-1">
				<p class="font-medium">{{ __( 'Location', 'somoscuatro-theme' ) }}</p>
				<p>{{ location }}</p>
			</div>
			<div class="flex flex-col gap-1">
				<p class="font-medium">{{ __( 'Industry', 'somoscuatro-theme' ) }}</p>
				<p>{{ industry }}</p>
			</div>
			<div class="flex flex-col gap-1">
				<p class="font-medium">{{ __( 'What we did', 'somoscuatro-theme' ) }}</p>
				<p>{{ services }}</p>
			</div>
			<div class="flex flex-col gap-1">
				<p class="font-medium">{{ __( 'Release', 'somoscuatro-theme' ) }}</p>
				<p>{{ release }}</p>
			</div>
		</div>
		<div class="md:w-3/4 case-study-content">
			{{ content }}
		</div>
	</div>
{% endblock %}
