{% set commonClasses = 'relative border font-medium py-2 px-4 md:px-7 block w-fit transition-colors duration-300 ease-in-out group' %}
{% set attrType = {
	primary: 'bg-anti-flash-white-900 border border-anti-flash-white-900 text-anti-flash-white-100 hover:bg-transparent hover:text-anti-flash-white-900',
	primary_on_color: 'bg-anti-flash-white-900 border border-anti-flash-white-900 text-anti-flash-white-100 hover:bg-transparent hover:border-anti-flash-white-100',
	hollow_dark: 'bg-anti-flash-white-100 border border-anti-flash-white-900 text-anti-flash-white-900 hover:border-anti-flash-white-900',
	hollow_light: 'border border-anti-flash-white-100 text-anti-flash-white-100 hover:border-anti-flash-white-100',
	link: 'border-none',
} %}
{% set borderColor = type == 'hollow_light' or type == 'primary_on_color' ? 'anti-flash-white-100' : 'anti-flash-white-900' %}

{% set idAttr = id ? 'id="' ~ id ~ '"' : '' %}
{% set relAttr = target == '_blank' ? 'rel="noopener"' : '' %}

<a {{ idAttr }} class="{{ commonClasses }} {{ attrType[type] }} {{ classes }}" href="{{ url }}" target="{{ target }}" {{ relAttr }} {{ attrs }}>
	{{ title }}
	{% if type != 'link' %}
		<span class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 border-t ease border-{{ borderColor }} group-hover:w-full"></span>
		<span class="absolute top-0 right-0 w-0 h-0 transition-all duration-200 border-r ease border-{{ borderColor }} group-hover:h-full"></span>
		<span class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b ease border-{{ borderColor }} group-hover:w-full"></span>
		<span class="absolute bottom-0 left-0 w-0 h-0 transition-all duration-200 border-l ease border-{{ borderColor }} group-hover:h-full"></span>
	{% endif %}
</a>
