{% extends "section.twig" %}

{% set background = get_color_name(bg_color) %}
{% set foreground = get_foreground_color_name(background) %}

{% block section_content %}
	<div class="flex flex-col gap-10 md:gap-16 text-{{ foreground }}">
		{% if title %}
			<h2 class="text-4xl font-medium md:text-6xl font-syne">{{ title }}</h2>
		{% endif %}
		<div class="glider-contain">
			<div class="flex gap-4 mx-4 glider">
				{% for testimonial in testimonials %}
					<div class="h-fit flex flex-col gap-6 px-8 py-6 border border-{{ foreground }}">
						<div>
							<img class="rounded-full fill-{{ foreground }}" src="{{ function('get_field', 'cpt_testimonials_company_logo', testimonial.ID).url }}" width="176" height="64">
							<p>{{ testimonial.post_content }}</p>
						</div>
						<div class="flex flex-col gap-4 md:items-center md:flex-row">
							<img class="rounded-full" src="{{ function('get_field', 'cpt_testimonials_image', testimonial.ID).url }}" width="60" height="60">
							<div>
								<h3 class="font-bold">{{ testimonial.post_title }}</h3>
								<p>{{ function('get_field', 'cpt_testimonials_role_company', testimonial.ID) }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			{% if testimonials|length > 2 %}
				<button aria-label="Previous" class="glider-arrows glider-prev">
					<span class="stroke-{{foreground}}">{% include 'icons/chevron.twig' %}</span>
				</button>
				<button aria-label="Next" class="rotate-180 glider-arrows glider-next">
					<span class="stroke-{{foreground}}">{% include 'icons/chevron.twig' %}</span>
				</button>
			{% endif %}
		</div>
	</div>
	{{ enqueue_script('somoscuatro_theme-testimonials') }}
{% endblock %}
