<div class="container container-padding container-gap">
	<h2 class="text-center">{{ heading }}</h2>
	<div class="grid grid-cols-3 gap-16">
		{% for testimonial in testimonials %}
			<div class="flex flex-col gap-10">
				<img src="{{ testimonial.meta('cpt_testimonials_company_logo').url }}" width="180" height="48">
				<p class="body-lg">{{ testimonial.content|striptags('<br>') }}</p>
				<div class="flex items-center gap-4">
					<img src="{{ testimonial.meta('cpt_testimonials_image').url }}" width="56" height="56">
					<div class="flex flex-col">
						<p class="body-bold">{{ testimonial.title }}</p>
						<p>{{ testimonial.meta('cpt_testimonials_role_company') }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
