{% extends "section.twig" %}

{% set section_classes = 'peer is-contact '%}
{% set section_container_classes = '!pb-0' %}

{% block section_content %}
	<div class="flex flex-col gap-10 pb-8 border-b border-anti-flash-white-400">
		{% if title %}
			<h2 class="text-4xl font-medium md:text-6xl font-syne">{{ title }}</h2>
		{% endif %}
		<div class="flex flex-col gap-16 lg:flex-row">
			<div class="{{ schedule_a_call ? 'lg:w-3/5' : 'w-full' }}">
				{% apply shortcodes %}
					[contact-form-7 id="{{ '518664a' }}" title="Contact form 1"]
				{% endapply %}
			</div>
			<div class="flex flex-col gap-6 lg:w-2/6">
				{% if schedule_a_call %}
					<div class="flex flex-col gap-10 px-10 py-6 bg-folly-700 text-anti-flash-white-100 h-fit">
						<div class="flex flex-col gap-2">
							<h3 class="text-2xl font-medium font-syne">{{ schedule_a_call_title }}</h3>
							<p>{{ schedule_a_call_text }}</p>
						</div>
						{% include 'button.twig' with {
							id: 'gtm-conversion-schedule-call-contact-page',
							title: 'Schedule a Call',
							url: '#calendly',
							type: 'secondary',
							attrs: 'onclick="Calendly.initPopupWidget({url: \'https://calendly.com/luca-pipolo/let-s-meet?hide_gdpr_banner=1\'});return false;"',
						} %}
					</div>
				{% endif %}
				{% if details %}
					<div class="px-10">
						<h3 class="text-2xl font-medium font-syne">{{ __('Details') }}</h3>
						{{ details }}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
