<header class="sticky top-0 z-50 duration-300 ease-in site-header bg-anti-flash-white-100 border-anti-flash-white-400">
	<div class="container relative flex items-center justify-between py-4">
		<a href="{{ homepage_url }}">
			<img src="{{ logo }}" alt="somoscuatro" width="158" height="52" />
		</a>
		<nav class="hidden lg:block">
			<ul class="flex gap-none xl:gap-6">
				{% for item in site_header_primary.get_items %}
					{% if not item.meta('_menu-item-call-to-action') %}
						<div x-data="{ open: false }" @mouseenter="open = true" @mouseleave="open = false">
							<li :class="open ? 'bg-white border-b-anti-flash-white-100 !border-anti-flash-white-900' : 'bg-transparent'" class="{{ item.children|length > 0 ? 'relative z-20 border-l border-t border-r border-transparent' : '' }}">
								{% if item.children|length > 0 %}
									<div class="flex items-center gap-2 px-4 py-2 md:px-7">
										<p class="font-medium w-fit">{{ item.title }}</p>
										<span class="mt-1 -rotate-90 stroke-anti-flash-white-900" :class="open ? '!rotate-90' : '-rotate-90'">{% include 'icons/chevron.twig' with { size: '4', strokeWidth: 2.5 } %}{# w-4 h-4 #}</span>
									</div>
								{% else %}
									{% include 'button/template.twig' with {
										classes: '',
										title: item.title,
										url: item.url,
										target: item.target,
										type: 'link'
									} %}
								{% endif %}
							</li>
							{% if item.children %}
								<ul class="absolute z-10 flex flex-col bg-white border min-w-60 shadow-lg py-4 top-[61px] border-anti-flash-white-900" x-show="open" x-cloak>
									{% for child in item.children %}
										{% if not child.meta('_menu-item-show-bottom') %}
											<li>
												{% include 'button/template.twig' with {
													classes: 'block w-full py-2 px-7 hover:bg-anti-flash-white-200',
													title: child.title,
													url: child.url,
													target: child.target,
													type: 'link'
												} %}
											</li>
										{% else %}
											<li class="pt-4 mt-4 border-t px-7 border-anti-flash-white-400">
												<a href="{{ child.url }}" class="flex items-center justify-between">
													View all services
													<span class="stroke-anti-flash-white-900">{% include 'icons/arrow.twig' %}</span>
												</a>
											</li>
										{% endif %}
									{% endfor %}
								</ul>
							{% endif %}
						</div>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
		<nav id="nav-site-header-primary-mobile" class="absolute left-0 top-20 hidden w-full max-h-[calc(100vh_-_5rem)] overflow-y-scroll flex-col px-2 py-4 border-b border-anti-flash-white-400 bg-anti-flash-white-100">
			{% for item in site_header_primary.get_items %}
				{% if not item.meta('_menu-item-call-to-action') %}
					<div x-data="{ open: false }" @click="open = !open">
						{% if item.children|length > 0 %}
							<div class="flex items-center justify-between gap-2 px-4 py-2 md:px-7">
								<p class="font-medium w-fit">{{ item.title }}</p>
								<span class="mt-1 -rotate-90 stroke-anti-flash-white-900" :class="open ? '!rotate-90' : '-rotate-90'">{% include 'icons/chevron.twig' with { size: '4', strokeWidth: 2.5 } %}{# w-4 h-4 #}</span>
							</div>
						{% else %}
							{% include 'button/template.twig' with {
								classes: 'w-full',
								title: item.title,
								url: item.url,
								target: item.target,
								type: 'link'
							} %}
						{% endif %}
						{% if item.children %}
							<ul class="flex flex-col py-2" x-show="open" x-cloak>
								{% for child in item.children %}
									<li>
										{% include 'button/template.twig' with {
											classes: 'block w-full py-2 px-8',
											title: child.title,
											url: child.url,
											target: child.target,
											type: 'link'
										} %}
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
		</nav>
		<div class="flex items-center gap-4 xl:gap-2">
			<div class="hidden px-4 py-2 md:block">{% include 'language-switcher.twig' %}</div>
			{% set key = 0 %}
			{% for item in site_header_primary.get_items %}
				{% if item.meta('_menu-item-call-to-action') %}
					{% include 'button/template.twig' with {
						id: key == 0 ? 'gtm-conversion-contact-site-header' : 'gtm-conversion-schedule-call-site-header',
						title: item.title,
						url: item.url,
						target: item.target,
						type: key == 0 ? 'primary' : 'hollow_dark',
						attrs: item.url == '#calendly' ? 'onclick="Calendly.initPopupWidget({url: \'https://calendly.com/luca-pipolo/let-s-meet?hide_gdpr_banner=1\'});return false;"' : '',
						classes: key == 0 ? 'block' : 'hidden xl:block'
					} %}
					{% set key = key + 1 %}
				{% endif %}
			{% endfor %}
			<div class="lg:hidden" id="mobile-nav-hamburger">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
</header>
